{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Create New Expense</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="description" name="description" class="input-xlarge" placeholder="description" value="{{ request.form.description }}"></input>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="number" id="food" name="food" class="form-control" placeholder="Food" value="{{ request.form.food }}">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="number" id="accomodation" name="accomodation" class="form-control" placeholder="Accomodation" value="{{ request.form.accomodation }}">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="number" id="entertainment" name="entertainment" class="form-control" placeholder="Entertainment" value="{{ request.form.entertainment }}">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="number" id="grocery" name="grocery" class="form-control" placeholder="Grocery" value="{{ request.form.grocery }}">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="number" id="travel" name="travel" class="form-control" placeholder="Travel" value="{{ request.form.travel }}">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="number" id="clothes" name="clothes" class="form-control" placeholder="Clothes" value="{{ request.form.clothes }}">
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create Expense</button>
          <a href="{{ url_for('show_expense') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}